

* {
  box-sizing: border-box;
  align-content: center;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-image: url('/backround.jpg'); /* Adjust the path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: 2000
}


  
main {
  position: fixed;
  /* Additional background image styles */
}





@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
